body {
    margin: 0;
    background-color: #173758;
    font-family: 'Trebuchet MS', sans-serif;
    
  }
  
  .navbar {
    overflow: hidden;
    background-color: black; 
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 18px 25px;
    text-decoration: none;
    border: 3px solid white;
  } 
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 18px 25px;
    background-color: inherit;
    border: 3px solid white;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #FC390F;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #FF5733;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
  #fastplate{
    text-align: center;
    /* background-color: #173758; */
  }
#jira{
  margin-left: 340px; 
  padding-right: 50px;
  font-size: 16px;
  padding-left: 50px;
 
}